:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: var(--cyan);
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  text-align: center;
  padding-bottom: 2%;
}
.character-card {
  background-color: var(--cyan);
  padding: 10px;
  margin: auto;
  height: 387px;
  width: 23%;
}

.character-card img {
  width: 100%;
  height: 300px;
}

.character-card p {
  margin: 5px 0;
  text-align: center;
  color: var(--black);
  font-size: medium;
  font-weight: bold;
}

.character-card h2 {
  text-align: center;
  color: var(--black);
  font-size: larger;
  margin: 6px 0;
  padding-top: 3px;
  font-weight: bold;
}

.character-card.hovered {
  background-color: var(--blue);
  color: var(--white);
}
