:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}
body {
  background-color: var(--cyan);
}

.chart-container {
  background-color: var(--white);
  padding: 1rem;
  max-width: 850px;
  margin: 4rem auto 4rem auto;
}
